# Dependencies
node_modules/
/portfolio/node_modules/
/portfolio/dist/

# Python Virtual Environments
venv/
/backend/venv/
__pycache__/
*.pyc

# Local Configs / System directories
.env
.env.local
.system_generated/
.gemini/
.vscode/
.idea/
.DS_Store
Thumbs.db
